<header class="hero-unit" id="banner">
  <div class="container" align="center">
    <p class="lead">在美国的热门城市中寻找你的梦想家园</p>
	<p align="center">
    <div class="input-group col-lg-3 col-md-4 col-sm-5 col-xs-6">
      <input type="text" class="form-control" placeholder="搜索城市...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
	</div>
	<span class="searchDescription">热门城市: <a href="/homes"> 西雅图</a></span>
	</p>
    <object class="usa-map" type="image/svg+xml" data="assets/images/usa-map.svg" style="width:100%;">
    </object>
  </div>
</header>

<!--
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="page-header">城市：</h4>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="city in cities">
        <li><a href="/homes" tooltip="{{city.info}}">{{city.name}}</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h4 class="page-header">即将推出：</h4>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="city in upcomingCities">
        <li><a href="/homes" tooltip="{{city.info}}">{{city.name}}</a></li>
      </ul>
    </div>
  </div>
</div>
-->

<br>
<div class="container main-steps">
	
	<div class="row" align="center">
	<h3>外居乐　&mdash;　您的北美购房指南</h3>
	</div>
	
	<div class="row topSpacer col-lg-12">
	
		<div class="col-lg-4" align="center">
	
			<img class="img-circle" src="assets/images/step001.png" width="150" height="150">		
			<div><h4 class="stepTitle">在线选房看房</h4></div>
			<div class="col-lg-offset-1 col-lg-10">孩子读书的居所？度假屋？长期投资？根据要求在确定的城市选房和看房决定可称为“家”的地点</div>
		</div>

		<div class="col-lg-4" align="center">
			<img class="img-circle" src="assets/images/step002.jpg" width="150" height="150">
			<div><h4 class="stepTitle">寻找房产专家</h4></div>
			<div class="col-lg-offset-1 col-lg-10">选定一名合格且经验丰富的房产专家。直接在房产经纪人目录中浏览并选择房产经纪人</div>
		</div>
	
		<div class="col-lg-4" align="center">
			<img class="img-circle" src="assets/images/step003.jpg" width="150" height="150">
			<div><h4 class="stepTitle">完成交易程序</h4></div>
			<div class="col-lg-offset-1 col-lg-10">看房报价，房屋检查，购买保险，过户公证，房屋交接。房产经纪人会在每个流程引入相关的地产专业人士</div>
		</div>	
	
	</div>
</div>
